/*  Styling for the Auto-complete drop down suggestions  */
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; font-size: 1.0em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #B8DBFF; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.ion-gear-b {float: right; margin-right: 0.7em; cursor: pointer;}

/*  Define the background color for all the ODD background rows  */
 .table1 tr:nth-child(even){ background: #FFFFFF;} 
/*  Define the background color for all the EVEN background rows  */
 .table1 tr:nth-child(2n + 3){background: #A8C6FA;} 

table, th, td {
    border: 1px solid black; 
}
p {  margin-top: 0.3em; margin-bottom: 0.3em; }

.AddRow, .DeleteRow, .Autocomplete {
    cursor: pointer;
	}
.stock:hover {
	cursor: pointer;
}

#settings {
	border: 1px solid black;
	height: 125px;
	width: 350px;
	position: absolute;
	top: 105px;
	left: 70px;
}

#lblText {
	position: absolute;
	top: 10px;
	left: 30px;
	height: 20px;
	width: 100px;
}
#inpText {
	position: absolute;
	top: 8px;
	left: 95px;
	height: 20px;
	width: 40px;
}
#fundimental {
	position: absolute;
	top: 90px;
	left: 130px;
	height: 27px;
	width: 100px;
}
#lblTextColor {
	position: absolute;
	top: 10px;
	left: 180px;
	height: 20px;
	width: 100px;
}
#inpTextColor {
	position: absolute;
	top: 10px;
	left: 260px;
	height: 20px;
	width: 50px;
}
#inpColorScheme1 {
	position: absolute;
	top: 50px;
	left: 140px;
	height: 20px;
	width: 50px;
}
#inpColorScheme2 {
	position: absolute;
	top: 50px;
	left: 210px;
	height: 20px;
	width: 50px;
}
#lblColor {
	position: absolute;
	top: 53px;
	left: 30px;
	height: 20px;
	width: 100px;
}